In [2]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.1-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
import psycopg2
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from config import db_password

In [4]:
from sqlalchemy import create_engine
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/tesla"
engine = create_engine(db_string)
conn = engine.connect()

df = pd.read_sql('SELECT * FROM "price_history"', conn)
df.head()

        hdate  hopen  hhigh   hlow  hclose  hadjclose  hvolume
0  2010-08-02  20.50  20.97  20.33   20.92      20.92   718100
1  2010-08-03  21.00  21.95  20.82   21.95      21.95  1230500
2  2010-08-04  21.95  22.18  20.85   21.26      21.26   913000
3  2010-08-05  21.54  21.55  20.05   20.45      20.45   796200
4  2010-08-06  20.10  20.16  19.52   19.59      19.59   741900