In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv(Path('../Resources/StartUps.csv'))
df.head()

   Development  Administration  Marketing          Province     Proceeds
0   413373.000     39113.65714  472034.10           Ontario  64087.27667
1   406494.250     43250.74000  444148.53           Alberta  63930.68667
2   383603.775     28898.72857  408184.54  British Columbia  63683.46333
3   360931.025     33906.24286  383449.62           Ontario  60967.33000
4   355268.350     26111.93429  366418.42  British Columbia  55395.98000

In [3]:
target = ["Proceeds"]

In [4]:
# Create our features
X = df.drop(columns='Proceeds')
X = pd.get_dummies(X)

# Create our target
y = df.loc[:, target].copy()

In [5]:
X.head()

,Development,Administration,Marketing,Province_Alberta,Province_British Columbia,Province_Ontario
0,413373.000,39113.65714,472034.10,0,0,1
1,406494.250,43250.74000,444148.53,1,0,0
2,383603.775,28898.72857,408184.54,0,1,0
3,360931.025,33906.24286,383449.62,0,0,1
4,355268.350,26111.93429,366418.42,0,1,0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.shape

(37, 6)

In [7]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(X_train,y_train)

LinearRegression()

In [8]:
y_prediction =  LR.predict(X_test)
y_prediction

array([[42154.40457644],
       [28511.82684037],
       [33121.60704753],
       [15287.46001473],
       [42774.2212199 ],
       [17314.61105262],
       [36299.91723212],
       [33502.01476451],
       [32554.87488526],
       [37473.60787934],
       [42969.18027242],
       [58245.5452807 ],
       [31171.25566672]])

In [9]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print("accuracy is =",score)
print("mean_sqrd_error is =",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is =",np.sqrt(mean_squared_error(y_test,y_prediction)))

accuracy is = 0.9190749322209588
mean_sqrd_error is = 9663907.080397585
root_mean_squared error of is = 3108.6825312980395