In [ ]:
pip install psycopg2

In [ ]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
import psycopg2
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://user:password@hostname/database_name')
conn = engine.connect()

df = pd.read_sql('SELECT * FROM "tesla100"', conn)

### Data Preprocessing

In [ ]:
# Your code here

### Machine Learning

In [ ]:
# Your code here

### Update Database

In [ ]:
db_string = f"postgres://postgres:{db_password}@local_host:5432/table_name"

In [ ]:
# Create the database engine
engine = create_engine(db_string)

In [ ]:
# Save DataFrame to a SQL table
df.to_sql(name='table_name', con=engine)

In [ ]:
# Your code here